/*****************
Color key
*****************/

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #646569;
    background: #F5F5F0;
}

/*****************
Body - main
*****************/

.wrapper {
    position: relative;
    box-sizing: border-box;
    width: 80vw;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 40px;
}

.header {
    height: 180px;
    background: white;
}

.nav {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    font-weight: 300;
}

.view {
    padding-bottom: 30px;
}

.bigger { font-size: 1.5em; }
.clear { clear: both; }
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*****************
Body - nav
*****************/

ul.nav {
    display: flex;
    flex-direction: row;
    
    margin: 0 auto;
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    padding: 0;
    
    font-size: 1.8em;
    line-height: 1em;
    text-transform: lowercase;
}
ul.nav li {
    position: relative;
    margin: auto;
    width: 100%;
}

.nav li a {
    position: relative;
}

.nav li.active a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    height: 8px;
    width: 100%;
    background: #FFDA00;
}

li a, li a:visited, li a:hover, li a:active {
    color: inherit;
    text-decoration: none;
}

.big-logo-mobile {
    display: none;
}

/*****************
Body - video reel
*****************/

div#reel {
    z-index: 1;
}
div.credits {
    z-index: 0;
    margin: 0 auto;
}

div#reel iframe {
    width: 80vw;
    height: 45vw;
    max-width: 100%;
    max-height: 540px;
}

.entry-wrapper {
    margin: 40px auto 0;
    width: 50%;
    float: left;
}

.caption {
    display: table;
    position: relative;
}

.caption img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
}

.caption div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px 10px 20px;
}

/*****************
Body - blog
*****************/

.post {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px auto;
    max-width: 600px;
}

.post .postImg {
    display: block;
    margin: 5px auto 10px;
    max-height: 500px;
    max-width: 100%;
}
.post .postImg.postImgSmall {
    width: 33.3%;
    height: 250px;
    display: inline-block;
    object-fit: contain;
}

.post .videoEmbed {
    display: block;
    margin: 5px auto 10px;
    max-height: 500px;
    max-width: 500px;
    width: 100%;
}
.post .videoEmbed iframe {
    max-width: 100%;
    max-height: 50.6vw; /* 90% */
}

.post .postFooter {
    margin: 10px 0 50px;
    border-top: 1px solid #aaa;
    color: #aaa;
    padding: 5px 0;
    font-size: .9em;
}

.post .postDate {
    float: left;
}
.post .postLink {
    float: right;
    color: inherit;
    text-decoration: none;
}

.blogLink {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 1.2em;
    color: inherit;
}

/*****************
Body - resume
*****************/

.resume {
    max-width: 44rem;
    width: 94%;
    margin: 0 auto;
}
.resume section {
    margin-bottom: 2rem;
}
.resume section.education {
    text-align: center;
}
.resume h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: right;
}
.resume h2 {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0;
    margin: 20px 0 3px;
}
.resume h3 {
    font-size: .9rem;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3;
    padding: 0;
    margin: 0;
    
    display: inline-block;
}
.resume h4 {
    padding: 0;
    margin: 5px 0;
    font-size: 1rem;
}

.resume ul {
    font-size: 1rem;
    line-height: 1.2;
    margin: 5px 0;
}
.resume li {
    margin: 4px 0;
}

.resume p {
    padding: 0;
    margin: 0;
    line-height: 1.4;
}

.resume .heading {
    font-style: italic;
    display: block;
    margin: 10px 0 5px;
}
.resume .heading:after {
    content: ":";
}
.resume .tag {
    padding: 2px 8px;
    margin: 3px;
    font-size: .9rem;
    line-height: 2.3;
    border: 1px solid #c4c4c4;
    background: #F6F3D9;
    border-radius: 2px;
    white-space: nowrap;
}

/*****************
Media
*****************/

@media all and (max-width: 800px) {
    .entry-wrapper {
        width: 90%;
        float: none;
    }
    
    .big-logo {
        display: none;
    }
    
    .big-logo-mobile {
        display: block;
        max-height: 100px;
    }
    
    .big-logo-mobile > * {
        display: block;
        height: 100%;
    }
    
    .big-logo-mobile svg {
        margin: 10px auto;
        height: 100px;
        width: 100%;
    }
    
    ul.nav {
        height: auto;
        padding: 20px 0;
    }
    
    ul.nav li {
        width: auto;
    }
}

@media all and (max-width: 620px) {
    .title,
    ul.nav { 
        font-size: 1.5em;
        padding-top: 30px;
    }
    .nav li.active a:after {
        height: 6px;
        bottom: -9px;
    }
    
    .wrapper {
        width: 100%;
    }
    div#reel iframe {
        width: 100vw;
        height: 56.25vw;
    }
    
    .post {
        width: 90%;
        padding: 0 5px;
        box-sizing: border-box;
    }
    
    .post .postImg {
        max-height: 80vw;
    }
    
    .resume h1 {
        text-align: center;
    }
    .resume section.education {
        text-align: left;
    }
}

@media all and (max-width: 380px) {
    ul.nav {
        font-size: 1.2em;
        font-weight: 400;
    }
    
    .nav li.active a:after {
        height: 5px;
        bottom: -8px;
    }
}
